@import "reset.scss";
@import "vars.scss";
@import "buttons.scss";
@import "header.scss";
@import "footer.scss";

// a{
//     Color: red;
//     text-decoration: none;
// }

body{
  @media (prefers-color-scheme: light){
    background-color: $white;
  }
  @media (prefers-color-scheme: dark){
    background-color: $black;
  }
}

.hidden{
  display: none;
}

body > main > p{
  margin: 300px;
}
body > main > button{
  margin: 300px;
}
body > main > a{
  margin: 300px;
}
