@import "reset.scss";
@import "vars.scss";
@import "buttons.scss";
@import "header.scss";
@import "footer.scss";
@import "article.scss";

// a{
//     Color: red;
//     text-decoration: none;
// }

body{
  @media (prefers-color-scheme: light){
    background-color: $white;
  }
  @media (prefers-color-scheme: dark){
    background-color: $black;
  }
}

.hidden{
  display: none;
}

body > main > section{
  margin: 200px 0 0 0;
}
